{
  "extends": [
    "ts-react-important-stuff",
    "plugin:prettier/recommended"
  ],
  "parser": "@babel/eslint-parser",
  "plugins": [
    "prettier"
  ],
  "rules": {
    "prettier/prettier": "error",
    "no-unused-vars": "warn",
    "no-console": "off"
  },
  "settings": {
    "react": {
      "version": "detect"
    }
  }
}
